@import '../../../_theme_variables';
@import "../../../_elements_variables";
@import "../../../_header_modules_variables";

.sdsarticleCat, #sdsblogArticle, #articleComments {
  .title_block {
    &:after {
      display: none;
    }
  }
}

/****************************** Blog blocks styles ********************************/

#latestComments, #blogPopular, #recent_article_smart_blog_block_left {
  ul {
    li {
      &.last_item {
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}

#blogPopular, #recent_article_smart_blog_block_left {
  .info {
    display: block;
    font-style: italic;
  }
}

#latestComments {
  .products-block-image {
    border: none;
  }
}

/*************************** end Blog blocks styles *******************************/

/*************************** articles listing styles ******************************/
.title_block_exclusive {
  position: relative;
  padding: 0 0 12px 0;
  margin: 0 0 27px 0;
  font: $font-subheading;
  color: $dark-text-color;
  @media (min-width: $screen-md-min) {
    padding-bottom: 19px;
    margin-bottom: 23px;
  }
  &:before {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100px;
    border-bottom: 2px solid $secondary-border-color;
  }
  a {
    color: #555459;

    &:hover {
      color: $link-hover-color;
    }
  }
}

h1.title_block_exclusive {
  font: $font-maxheading;
  text-align: center;
  padding-bottom: 11px;
  @media (min-width: $screen-lg-min) {
    padding-left: 18%;
    padding-right: 18%;
  }
  @media (max-width: $screen-md-max) {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  @media (max-width: $screen-xs-max) {
    font-size: 30px;
    line-height: 1.2;
  }
  &:before {
    display: none;
  }
}

#sdsblogCategory {
  margin-bottom: 30px;
  .imageFeatured {
    float: left;
    margin: 0 20px 10px 0;
  }
}

#smartblogcat {
  margin-bottom: 0;
  .sdsarticleCat {
    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
      &:nth-child(odd) {
        clear: left;
      }
    }
    @media (min-width: $screen-lg-min) {
      &:nth-child(3n+1) {
        clear: left;
      }
    }
  }
}

.sdsarticleCat {
  margin-bottom: 45px;
  @media (min-width: $screen-xs-min) {
    margin-bottom: 69px;
  }
  .articleContent {
    .post-image {
      @include post-image;
      img {
        width: 100%;
      }
    }
    .sdsarticle-des {
      margin-bottom: 15px;
      @media (min-width: $screen-md-min) {
        margin-bottom: 33px;
      }
    }
  }
}

.articleHeader {
  overflow: hidden;
  margin-top: 30px;
  color: $dark-text-color;
  .postInfo {
    > span {
      padding-right: 25px;
      padding-bottom: 3px;
      display: inline-block;
      &:first-child {
        padding-left: 10px;
      }
    }
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.sdsarticleBottom {
  margin-top: 20px;
}

a.read-more {
  color: $primary-text-color;
  &:hover {
    color: $dark-text-color;
  }
}

.post-count {
  float: left;
  padding: 5px 0 0 0;
}

/*********************** end articles listing styles ******************************/

/************************** article info styles ***********************************/

#sdsblogArticle {
  border-bottom: $main_border;
  padding-bottom: 30px;
  @media (min-width: $screen-lg-min) {
    padding-bottom: 55px;
  }
  .comments {
    font-size: 11px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $color-gray;
    text-align: center;
    span {
      position: relative;
      display: inline-block;
      padding-left: 26px;
      &:before {
        @include addMaterialIcon('\e24c', 16px);
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  .post-image {
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
    @media (min-width: $screen-lg-min) {
      margin-top: 44px;
      margin-bottom: 90px;
    }
    img {
      width: 100%;
      height: auto;
    }
    @media (min-width: $screen-lg-min) {
      padding-bottom: 45%;
      img {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  .container {
    padding: 0;
    max-width: 1170px;
    margin: 0 auto;
  }

  .sdsarticle-des {
    margin: 0;
    line-height: (15 / 8);
    p + p {
      margin-top: 15px;
      @media (min-width: $screen-lg-min) {
        margin-top: 32px;
      }
    }
  }

  .block-addthis {
    margin-bottom: 30px;
  }
  @media (max-width: $screen-xs - 1) {
    .addthis_default_style .addthis_counter {
      clear: left;
    }
    .at-share-tbx-element a.at300b, .at-share-tbx-element a.at300b {
      clear: left;
      display: block;
      margin-bottom: 10px;
      width: auto;
    }
  }
}

.sdstags-update {
  margin-top: 45px;
  margin-bottom: 30px;
  text-align: center;
  @media (min-width: $screen-lg-min) {
    margin-top: 98px;
  }
  .btn {
    color: $color-gray;
    &:hover {
      color: $light-text-color;
    }
  }
}

.smartblog-container {
  max-width: 1170px;
  margin: 0 auto;
}

/************************ end of article info styles ******************************/

#sdsblogArticle .attention img {
  margin: 0 10px;
}

/*************************************** Blog comments *****************************/
#comments #commentTitle {
  display: none;
}

#articleComments {
  max-width: 870px;
  margin: 50px auto 70px;
  @media (min-width: $screen-lg-min) {
    margin-top: 111px;
    margin-bottom: 115px;
  }
}

#comments {
  margin-top: 30px;
  @media (min-width: $screen-lg-min) {
    margin-top: 48px;
  }
  img.avatar {
    float: left;
    margin-right: 25px;
    margin-bottom: 5px;
    margin-top: 10px;
    @media (min-width: $screen-md-min) {
      margin-right: 55px;
    }
    @media (max-width: $screen-xs - 1) {
      float: none;
      margin: 0 0 15px 0;
    }
  }
  li li {
    .well {
      margin-top: 20px;
    }
  }
}

#respond {
  max-width: 870px;
  margin: 40px auto 40px;
  background: $product-background;
  text-align: center;
  padding: 8% 10%;
  @media (min-width: $screen-md-min) {
    padding: 112px 119px 120px;
  }
}

#respond h4 {
  padding: 0;
  position: relative;
  font: $font-heading;
  text-transform: none;
  margin-bottom: 11px;
  @media (min-width: $screen-sm-min) {
    padding-left: 165px;
    padding-right: 165px;
  }
  &:after {
    display: none;
  }
  small {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: left;
    @media (min-width: $screen-sm-min) {
      position: absolute;
      top: 50%;
      right: 0;
      max-width: 130px;
      @include translate(0, -50%);
    }
    @media (max-width: $screen-xs-max) {
      float: none !important;
      display: block;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 15px;
    }
    a {
      color: $primary-text-color;
      &:hover {
        color: $dark-text-color;
      }
    }
  }
}

#respond #commentInput {
  .required {
    color: #9d9d9d;
  }
  #commentform {
    margin-top: 34px;
    .form-control {
      box-shadow: none;
      margin-bottom: 2px;
      font-size: 16px;
      padding: 8px 24px;
      & + span {
        display: inline-block;
        margin-bottom: 15px;
        font-size: 12px;
        line-height: 1.2;
      }
    }
    textarea.form-control {
      padding-top: 20px;
      padding-bottom: 20px;
      height: 100px;
    }
    #submitComment {
      margin-top: 30px;
      border-radius: 0;
      background: $dark-text-color;
      @include box-shadow(inset 0 0 0 2px $dark-text-color);
      @media (min-width: $screen-sm-min) {
        min-width: 270px;
      }
      &:hover {
        background: none;
        color: $dark-text-color;
      }
    }
    .captcha {
      margin-top: 15px;
      .form-control {
        height: 40px;
        width: 150px;
        display: inline-block;
        & + span {
          display: block;
        }
      }
      img {
        //float: left;
        display: inline-block;
        margin-right: 15px;
      }
    }
  }
}

#respond #replyTitle {
  display: none;
}

#respond table {
  width: 100%;
}

#respond td {
  padding: 3px 5px;
  @media (max-width: $screen-sm-max) {
    display: block;
    padding: 0 0 5px;
  }
}

#respond .note {
  color: #888888;
  display: block;
  font-size: 10px;
}

#respond td:first-child {
  vertical-align: top;
  padding-top: 3px;
  b {
    line-height: 18px;
  }
  .note {
    line-height: 10px;
  }
}

#respond .text-right {
  padding: 10px 5px 0;
}

#sdssearch_block_top {
  padding-top: 0;
  @include search-box-style;
  #searchbox .btn.button-search {

  }
}

ul.commentList ul {
  position: relative;
  padding-left: 73px;
  &:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 41px;
    height: 62px;
    border-left: 2px solid darken(desaturate(adjust_hue($product-background, -1.363636363636381), 14.714714714714773%), 3.725490196078411%);
    border-bottom: 2px solid darken(desaturate(adjust_hue($product-background, -1.363636363636381), 14.714714714714773%), 3.725490196078411%);
  }
  @media (max-width: $screen-xs-max) {
    padding-left: 40px;
    &:before {
      width: 25px;
    }
  }
}

.commentList {
  .well {
    background: none;
    border: none;
    padding: 0;
    box-shadow: none;
    margin-bottom: 25px;
    .comment-content {
      > div {
        overflow: hidden;
      }
    }
  }
  .name {
    font: $font-subheading;
    color: $dark-text-color;
    margin-right: 23px;
  }
  p {
    margin: 0;
    line-height: (7 / 4);
    & + p {
      margin-top: 4px;
    }
  }
  .reply {
    margin-top: 15px;
  }
  .created {
    font-size: 13px;
    color: $color-gray;
  }

  .comment-reply-link {
    color: $primary-text-color;
    cursor: pointer;
    &:hover, &:active, &:focus {
      color: $dark-text-color;
    }
  }
}

#articleRelated {
  margin-bottom: 15px;
  li {
    padding-bottom: 15px;
    .products-block-image {
      @include product-image;
    }
    @media only screen and (min-width: $screen-md-min) {
      &.first-in-line {
        clear: left;
      }
    }
    @media only screen and (min-width: $screen-sm) and (max-width: $screen-sm-max) {
      &.first-item-of-tablet-line {
        clear: left;
      }
    }
    @media only screen and (min-width: $screen-xs) and (max-width: $screen-xs-max) {
      width: 50%;
      float: left;
      text-align: center;
      &.first-item-of-mobile-line {
        clear: left;
      }
    }
    @media only screen and (max-width: $screen-xs-max) {
      .img-responsive {
        width: 100%;
      }
    }
  }
  .products-block-image {
    margin-bottom: 10px;
    display: block;
  }
}