/*
* @subsection   My-account Page Styles
*/
#my-account .addresses-lists {
  margin-bottom: 30px; }
#my-account p.info-account {
  margin: -4px 0 24px 0; }
#my-account ul.myaccount-link-list li {
  overflow: hidden;
  padding-bottom: 10px; }
  #my-account ul.myaccount-link-list li a {
    display: block;
    overflow: hidden;
    font: 400 20px/32px "Exo 2", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    border: 1px solid;
    border-color: #ebebeb;
    background: #f8f8f8; }
    #my-account ul.myaccount-link-list li a i {
      font-size: 25px;
      position: absolute;
      left: 0;
      top: 0;
      width: 52px;
      height: 100%;
      padding: 17px 0 0 0;
      text-align: center;
      border-right: 1px solid white; }
    #my-account ul.myaccount-link-list li a span {
      display: block;
      padding: 13px 15px 15px 17px;
      overflow: hidden;
      border-left: 1px solid;
      margin-left: 52px;
      border-color: #ebebeb; }
    #my-account ul.myaccount-link-list li a:hover {
      background: #ebebeb;
      border-color: #dedede; }
