#tmhtmlcontent_topColumn {
  margin-top: 30px; }
  @media (min-width: 768px) {
    #tmhtmlcontent_topColumn {
      margin-top: 50px; } }
  @media (min-width: 1200px) {
    #tmhtmlcontent_topColumn {
      margin-top: 116px; } }
  #tmhtmlcontent_topColumn > ul {
    margin-top: 0;
    margin-bottom: 0; }
    @media (min-width: 480px) {
      #tmhtmlcontent_topColumn > ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center; } }
    @media (min-width: 480px) and (max-width: 991px) {
      #tmhtmlcontent_topColumn > ul {
        flex-wrap: wrap; } }
    #tmhtmlcontent_topColumn > ul > li {
      position: relative;
      padding-left: 15px;
      padding-right: 15px; }
      @media (min-width: 480px) and (max-width: 991px) {
        #tmhtmlcontent_topColumn > ul > li:first-child {
          order: 2;
          width: 50%; }
        #tmhtmlcontent_topColumn > ul > li:nth-child(2) {
          order: 1;
          width: 100%;
          margin-bottom: 30px; }
        #tmhtmlcontent_topColumn > ul > li:nth-child(3) {
          order: 3;
          width: 50%; } }
      #tmhtmlcontent_topColumn > ul > li .item-link {
        display: block;
        overflow: hidden; }
        #tmhtmlcontent_topColumn > ul > li .item-link img {
          -moz-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          -o-transform: scale(1, 1);
          -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
          -moz-transition: 0.6s all ease;
          -o-transition: 0.6s all ease;
          -webkit-transition: 0.6s all ease;
          transition: 0.6s all ease;
          will-change: transform; }
        #tmhtmlcontent_topColumn > ul > li .item-link:hover img {
          -moz-transform: scale(1.05, 1.05);
          -ms-transform: scale(1.05, 1.05);
          -o-transform: scale(1.05, 1.05);
          -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05); }
      #tmhtmlcontent_topColumn > ul > li .item-html {
        padding: 30px;
        color: #2f2c2f;
        max-width: 310px; }
        @media (min-width: 1360px) {
          #tmhtmlcontent_topColumn > ul > li .item-html {
            padding: 50px; } }
        @media (min-width: 1650px), (min-width: 768px) and (max-width: 991px) {
          #tmhtmlcontent_topColumn > ul > li .item-html {
            padding: 67px 66px; } }
        #tmhtmlcontent_topColumn > ul > li .item-html h3 {
          font-size: 14px;
          line-height: 1.2;
          font-weight: 700;
          letter-spacing: 0.38em;
          margin: 0; }
          @media (min-width: 1360px), (min-width: 768px) and (max-width: 991px) {
            #tmhtmlcontent_topColumn > ul > li .item-html h3 {
              font-size: 16px; } }
        #tmhtmlcontent_topColumn > ul > li .item-html h2 {
          font-family: "Exo 2", sans-serif;
          font-size: 20px;
          line-height: 1.2;
          font-weight: 300;
          margin: 0; }
          @media (min-width: 1200px), (min-width: 768px) and (max-width: 991px) {
            #tmhtmlcontent_topColumn > ul > li .item-html h2 {
              font-size: 26px; } }
        #tmhtmlcontent_topColumn > ul > li .item-html * + h2 {
          margin-top: 12px; }
        #tmhtmlcontent_topColumn > ul > li .item-html * + .link {
          margin-top: 20px; }
          @media (min-width: 1200px), (min-width: 768px) and (max-width: 991px) {
            #tmhtmlcontent_topColumn > ul > li .item-html * + .link {
              margin-top: 38px; } }
      #tmhtmlcontent_topColumn > ul > li img {
        width: 100%;
        height: auto; }
      #tmhtmlcontent_topColumn > ul > li img + .item-html {
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px; }
      #tmhtmlcontent_topColumn > ul > li.center-block {
        margin-left: 0;
        margin-right: 0; }
        #tmhtmlcontent_topColumn > ul > li.center-block .item-html {
          top: 50%;
          -moz-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); }
    #tmhtmlcontent_topColumn > ul .text-white .item-html {
      color: white; }
      #tmhtmlcontent_topColumn > ul .text-white .item-html .link:hover {
        color: #2f2c2f; }

#tmhtmlcontent_footer {
  margin-top: 7px;
  margin-bottom: 36px; }
  #tmhtmlcontent_footer .logo {
    display: inline-block; }
