@import "_theme_variables";
@import "_elements_variables";

/*
* @section   Categories Page Styles
*/
.content_scene_cat {
  margin: 0 0 10px;
  @media (min-width: $screen-xs-min) {
    margin-bottom: 38px;
  }
  @media (min-width: $screen-md-min) {
    margin-bottom: 50px;
  }
  @media (min-width: $screen-lg-min) {
    margin-bottom: 75px;
  }
  .content_scene_cat_bg {
    position: relative;
    overflow: hidden;
    background-color: darken($base-box-bg, 10%);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    color: $dark-text-color;
    min-height: 0 !important;
    padding-top: 34px;
    @media (min-width: $screen-xs-min) {
      min-height: 230px !important;
      color: $light-text-color;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    @media (min-width: $screen-sm-min) {
      min-height: 370px !important;
    }
    @media (min-width: $screen-lg-min) {
      min-height: 500px !important;
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      padding-left: 7%;
    }
    @media (max-width: $screen-xs-min - 1) {
      background: none !important;
    }
    > div {
      width: 100%;
    }
    .cat_desc {
      position: relative;
      max-width: 60%;
      @media (min-width: $screen-lg-min) {
        max-width: 50%;
      }
      @media (min-width: 1650px) {
        max-width: 40%;
      }
      p {
        line-height: (15 / 8);
      }
      .category-description {
        @media (max-width: $screen-md-max) {
          font-size: 14px;
          p {
            line-height: 1.5;
          }
        }
        @media (max-width: $screen-xs-min - 1) {
          display: none;
        }
      }
    }
  }
  span.category-name {
    font: $font-heading;
    margin-bottom: 10px;
    display: inline-block;
    @media (min-width: $screen-lg-min) {
      margin-bottom: 25px;
    }
    @media (max-width: $screen-xs-min - 1) {
      font-size: 34px;
    }
  }
  p {
    margin-bottom: 0;
  }
  a {
    &.lnk_more {
      font-weight: bold;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  .content_scene {
    color: $base-body-color;
    .cat_desc {
      padding-top: 20px;
      a {
        color: $link-color;
        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }
}

/*
* @subsection   Sub Categories Styles
*/
#subcategories {
  margin-top: 10px;
  max-width: 70%;
  @media (min-width: $screen-lg-min) {
    max-width: 60%;
  }
  @media (min-width: 1650px) {
    max-width: 50%;
  }
  @media (max-width: $screen-xs-max) {
    display: none;
  }
  ul {
    margin: 0;
    li {
      margin-top: 5px;
      @media (min-width: $screen-lg-min) {
        margin-top: 14px;
      }
      a {
        display: inline-block;
        position: relative;
        color: inherit;
        text-decoration: none;
        padding-left: 25px;
        &:before {
          position: absolute;
          left: 0;
          top: 0;
          @include addIcon('\f105');
          color: $light-text-color;
          @include transition(0.3s all ease);
        }
        &:hover {
          color: darken($light-text-color, 10%);
          &:before {
            left: 5px;
          }
        }
        @media (max-width: $screen-md-max) {
          font-size: 14px;
        }
      }
    }
  }
}