@import "_theme_variables";
@import "_elements_variables";

/*******************************************************
Product list Styles
********************************************************/
/*
* @section      Product list Styles
* @description  This section holds specific style redeclarations for some
*               of common elements in page listing
*/
ul.product_list {
  .color-list-container {
    margin-top: 14px;
    margin-bottom: 3px;
    ul {
      @include color-pick-list;
    }
  }
  .product-image-container {
    text-align: center;
    position: relative;
    img {
      margin: 0 auto;
    }
  }
  > .layered-preloader {
    position: absolute;
    left: 50%;
    top: 250px;
    @include translate(-50%, 0);
    z-index: 1;
    span {
      display: block;
      background: none;
      width: 146px;
      height: 146px;
      line-height: 146px;
      margin: 49px auto;
      position: relative;
      box-sizing: border-box;
      text-align: center;
      z-index: 0;
      text-transform: uppercase;
      -o-text-transform: uppercase;
      -ms-text-transform: uppercase;
      -webkit-text-transform: uppercase;
      -moz-text-transform: uppercase;
      &:before, &:after {
        opacity: 0;
        box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        content: "\0020";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 97px;
        border: 5px solid $primary-background;
        box-shadow: 0 0 49px $primary-background, inset 0 0 49px $primary-background;
        -o-box-shadow: 0 0 49px $primary-background, inset 0 0 49px $primary-background;
        -ms-box-shadow: 0 0 49px $primary-background, inset 0 0 49px $primary-background;
        -webkit-box-shadow: 0 0 49px $primary-background, inset 0 0 49px $primary-background;
        -moz-box-shadow: 0 0 49px $primary-background, inset 0 0 49px $primary-background;
      }
      &:after {
        z-index: 1;
        animation: cssload-gogoloader 1.3s infinite 0.7s;
        -o-animation: cssload-gogoloader 1.3s infinite 0.7s;
        -ms-animation: cssload-gogoloader 1.3s infinite 0.7s;
        -webkit-animation: cssload-gogoloader 1.3s infinite 0.7s;
        -moz-animation: cssload-gogoloader 1.3s infinite 0.7s;
      }
      &:before {
        z-index: 2;
        animation: cssload-gogoloader 1.3s infinite;
        -o-animation: cssload-gogoloader 1.3s infinite;
        -ms-animation: cssload-gogoloader 1.3s infinite;
        -webkit-animation: cssload-gogoloader 1.3s infinite;
        -moz-animation: cssload-gogoloader 1.3s infinite;
      }
    }
  }
  .quick-view {
    display: inline-block;
    color: lighten($color-gray, 17.25%);
    line-height: 1;
    &:before {
      @include addMaterialIcon('\e8ff', 25px);
      line-height: 27px;
    }
    &:hover {
      color: $dark-text-color;
    }
  }
  .comments_note {
    text-align: center;
    overflow: hidden;
    padding-bottom: 10px;
    .nb-comments {
      overflow: hidden;
      font-style: italic;
      display: inline-block;
    }
  }
  .functional-buttons {
    > div {
      display: inline-block;
      line-height: 1;
      vertical-align: top;
      a {
        display: inline-block;
        color: #5e646c;
        cursor: pointer;
        line-height: 1;
        @media (min-width: $screen-sm-min) {
          color: lighten($color-gray, 17.25%);
        }
        &:before {
          line-height: 27px;
        }
        &:hover {
          color: $dark-text-color;
        }
      }
      &.wishlist {
        a:before {
          @include addChappsIcon('\e00b', 20px);
        }
        a.checked:before {
          @include addMaterialIcon('\e87d', 25px);
        }
      }
      &.compare {
        a {
          &:before {
            @include addMaterialIcon('\e01d', 27px);
          }
          &.checked {
            &:before {
              content: "\e876";
            }
          }
        }
      }
      @media (max-width: $screen-xs-max) {
        &.qv-wrap {
          margin-left: -20px;
          .quick-view {
            display: none;
          }
        }
      }
    }
  }
  @media (max-width: $screen-xs-max) {
    .btn-sm, .btn-group-sm > .btn {
      font-size: 11px;
      line-height: 15px;
      padding: 5px 8px;
    }
  }
}

/*
* @section      Product list(Grid) Styles
*/
ul.product_list.grid {
  > li {
    padding-bottom: 20px;
    text-align: center;
    .product-container {
      background: $light-background;
      padding: 0;
      .left-block {
        padding-bottom: 0;
      }
      .product-image-container {
        @include product-image;
        .product_img_link {
          display: block;
        }
      }
      h5 {
        padding: 0;
        margin: 0;
        a {
          span.list-name {
            display: none;
          }
        }
      }
      .comments_note {
        text-align: center;
        .star_content {
          display: inline-block;
          margin: 0 0 0 0;
        }
      }
      .product-desc {
        display: none;
      }
      .content_price {
        margin-top: 5px;
      }
      .color-list-container {
        @media (max-width: $screen-md-max) {
          display: none;
        }
      }
      .old-price,
      .price,
      .price-percent-reduction {
        display: inline-block;
      }
      .product-flags {
        display: none;
      }
      .old-price {
        margin-right: 5px;
        @media (max-width: $screen-xs-min - 1) {
          display: none;
        }
      }
      .button-container {
        margin-bottom: 14px;
        .ajax_add_to_cart_button,
        span.btn,
        .lnk_view {
          margin: 0 6px 10px 0;
        }
      }
      .right-block {
        position: relative;
        padding: 15px 0 10px;
        @media (min-width: $screen-xs-min) {
          padding: 20px 15px 10px;
        }
        @media (min-width: $screen-md-min) {
          padding: 24px 15px 45px;
        }
        .availability {
          display: none;
        }
      }
      .functional-buttons {
        margin-top: 10px;
        @media (min-width: $screen-md-min) {
          position: absolute;
          left: 0;
          right: 0;
          bottom: -30px;
          opacity: 0;
          visibility: hidden;
          @include transition(0.4s all ease);
        }
        > div {
          & + div {
            margin-left: 20px;
            @media (min-width: $screen-md-min) {
              margin-left: 30px;
            }
          }
        }
        .ajax_add_to_cart_button, .customization {
          display: inline-block;
          margin: 0;
          padding: 0;
          background: none;
          color: $primary-text-color;
          line-height: 1;
          box-shadow: none;
          vertical-align: top;
          span {
            display: none;
          }
          &:before {
            @include addChappsIcon('\e00a', 20px);
            line-height: 27px;
          }
          &:hover {
            color: $dark-text-color;
          }
        }
        .customization {
          &:before {
            content: '\e003';
          }
        }
      }
      @media (min-width: $screen-md) {
        &:hover {
          .functional-buttons {
            bottom: 5px;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
    @media (min-width: $screen-md) {
      &.first-in-line {
        clear: left;
      }
    }
    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
      &.first-item-of-tablet-line {
        clear: left;
      }
    }
    @media (max-width: $screen-xs-max) {
      &.first-item-of-mobile-line {
        clear: left;
      }
    }
  }
}

.two-columns {
  ul.product_list.grid {
    > li {
      @media (min-width: 1500px) {
        width: 25%;
        clear: none;
        &:nth-child(4n + 1) {
          clear: left;
        }
      }
    }
  }
}

/*
* @section      Product list(List) Styles
*/

@mixin mini_list {
  padding-bottom: 47px;
  .left-block {
    width: 42%;
  }
  .right-block {
    position: static;
    width: 50%;
    float: right;
    clear: right;
    margin-bottom: 10px;
    .color-list-container, .product-flags {
      display: none;
    }
    .content_price {
      margin: 0;
    }
    .functional-buttons {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      > div {
        & + div {
          margin-left: 40px;
        }
        a {
          color: #5e646c;
          &:hover {
            color: $primary-text-color;
          }
        }
      }
      .cart-btn {
        float: none;
        .btn {
          display: inline-block;
          margin: 0;
          padding: 0;
          background: none;
          color: $primary-text-color;
          line-height: 1;
          box-shadow: none;
          vertical-align: top;
          span {
            display: none;
          }
          &:hover {
            color: $dark-text-color;
          }
        }
        .ajax_add_to_cart_button {
          &:before {
            @include addChappsIcon('\e00a', 20px);
            line-height: 27px;
          }
        }
        .customization {
          &:before {
            @include addChappsIcon('\e003', 20px);
            line-height: 27px;
          }
        }
      }
    }
    .price-percent-reduction {
      display: none;
    }
  }
}

ul.product_list.list {
  > li {
    margin-bottom: 30px;
    .product-container {
      padding: 0;
      > .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
      }
    }
    .product-image-container {
      @include product-image;
      .product_img_link {
        display: block;
      }
      .content_price {
        display: none !important;
      }
      .quick-view {
        position: absolute;
        right: 12px;
        bottom: 7px;
        @media (max-width: $screen-xs-max) {
          display: none;
        }
      }
    }
    .product-flags {
      color: $base-text-color;
      margin: 5px 0 10px 0;
      @media (min-width: $screen-xs) {
        margin-top: -5px;
      }
      .discount {
        color: $color-warning;
      }
    }
    h5 {
      padding-bottom: 8px;
      margin-bottom: 0;
      @media (min-width: $screen-sm-min) {
        margin-bottom: 16px;
      }
      .product-name {
        font: $font-subheading;
        color: $dark-text-color;
        &:hover {
          color: $primary-text-color;
        }
      }
      a {
        span.grid-name {
          display: none;
        }
      }
    }
    .product-desc {
      margin-top: 20px;
      line-height: 1.5;
      @media (min-width: $screen-lg-min) {
        margin-top: 33px;
        line-height: (15 / 8);
      }
      @media (max-width: $screen-sm-max) {
        display: none;
      }
      span.grid-desc {
        display: none;
      }
    }
    .color-list-container {
      margin-top: 15px;
      @media (min-width: 1370px) {
        margin-top: 29px;
      }
    }
    .availability {
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
    .functional-buttons {
      margin-top: 22px;
      @media (min-width: 1370px) {
        margin-top: 35px;
      }
      @media (min-width: $screen-xs-min) {
        .cart-btn {
          float: left;
          margin-right: 25px;
          @media (min-width: $screen-sm-min) {
            margin-right: 42px;
          }
          .btn {
            line-height: 22px;
            color: $light-text-color;
            @media (min-width: $screen-lg-min) {
              min-width: 187px;
            }
            &:hover {
              color: $primary-text-color;
            }
            &:active:focus, &:active, &:focus, #{'.active'} > &, &.disabled, &.btn[disabled], #{'.disabled'} > & {
              background: lighten($primary-background, 5%);
              color: $light-text-color;
            }
            &:hover {
              &:active:focus, &:active, &:focus {
                color: $light-text-color;
              }
            }
          }
        }
        .wishlist, .compare {
          margin-top: 4px;
          @media (min-width: $screen-sm-min) {
            margin-top: 12px;
          }
        }
        .wishlist {
          margin-right: 15px;
          @media (min-width: $screen-sm-min) {
            margin-right: 30px;
          }
        }
      }
    }
    .center-block {
      .comments_note {
        margin-bottom: 12px;
        .star_content {
          display: inline-block;
        }
      }
    }
    .left-block {
      @media (min-width: 1370px) {
        width: 34%;
      }
      @media (min-width: 1650px) {
        width: 25%;
      }
    }
    .right-block {
      @media (min-width: 1370px) {
        width: 66%;
      }
      @media (min-width: 1650px) {
        width: 75%;
      }
      @media (min-width: 1700px) {
        padding-left: 9.2%;
      }
      .content_price {
        display: inline-block;
        vertical-align: top;
        margin-top: 6px;
        margin-right: 20px;
        .price {
          font-size: 22px;
        }
      }
    }
    @media (max-width: $screen-xs - 1) {
      @include mini_list;
    }
    @media (min-width: $screen-lg) {
      &:hover {
        .product-image-container {
          .quick-view {
            display: block;
          }
        }
      }
    }
  }
}

body.three-columns ul.product_list.list li {
  @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
    @include mini_list;
  }
}