body {
  /*
  * @subsection   Breadcrumbs
  */
  /*
  * @subsection   Barre comparaison
  */
  /*
  * @subsection   Pagination
  *
  * @description  Describes style declarations for Pagination
  */
  /*
  * @section   CART steps
  *
  * @description  Describes style declarations for check out - 5 steps
  */
  /*
  * @subsection   Manufacturers and Suppliers
  */
  /*
  * @subsection   Bx slider styles
  *
  * @description  Bx slider in product carousel module
  */
  /*******************************************************
  Product list Styles
  ********************************************************/
  /*
  * @section      Product list Styles
  * @description  This section holds specific style redeclarations for some
  *               of common elements in page listing
  */
  /*
  * @section      Product list(Grid) Styles
  */
  /*
  * @section      Product list(List) Styles
  */
  /*
  * @section      Sitemap Page Styles
  */
  /*
  * @subsection     Left column in product block
  */
  /* .pb-left-column ***************************************************************************** */
  /*
  * @subsection      Right column in product block
  */
  /*
  * @subsection      Quantity wanted
  */
  /*
  * @subsection      Send to a Friend
  */
  /*
  * @subsection      Personnalisaton
  */
  /*******************************************************************
            Cart Block(MAIN) Styles
  ********************************************************************/
  /*******************************************************************
            Cart Block(Drop Down Box) Styles
  ********************************************************************/
  /* Block newsletter footer */
  /* lnk on detail product page */
  /*****************************************************************************
              BXSlider Styles
  ********************************************************************************/
  /* -------*--------------------------------------------------------------------------------------------------------
                       Social Sharing
  ------------------------------------------------------------------------------------------------------------------- */
  /* Top hook CSS */
  /*
  * @package      Style for TM Header Account Block
  * @description  This section holds specific style redeclarations for
  *               TM Header Account Block
  */
  /*
  * @section      Style for login wrapper
  * @description  This section holds specific style redeclarations for
  *               login content wrapper
  */
  /**************************************************************************
              Style TM Manufacturer Block
  **************************************************************************/
  /**************************************************************************
              Style for Product
  **************************************************************************/
  /*instagram widget styles*/ }
  body #fancybox-loading div:before, body #fancybox-loading div:after {
    border: 5px solid #a4786f;
    box-shadow: 0 0 49px #a4786f, inset 0 0 49px #a4786f;
    -o-box-shadow: 0 0 49px #a4786f, inset 0 0 49px #a4786f;
    -ms-box-shadow: 0 0 49px #a4786f, inset 0 0 49px #a4786f;
    -webkit-box-shadow: 0 0 49px #a4786f, inset 0 0 49px #a4786f;
    -moz-box-shadow: 0 0 49px #a4786f, inset 0 0 49px #a4786f; }
  body a:hover {
    color: #a4786f; }
  body a.product-name:hover, body #manufacturers_list .product-counter a:hover, body #suppliers_list .product-counter a:hover {
    color: #a4786f; }
  body .footer-container #footer a {
    color: #a4786f; }
  body .footer-container #footer h4 a {
    color: #2f2c2f; }
    body .footer-container #footer h4 a:hover {
      color: #a4786f; }
  body .footer-container #footer #block_contact_infos li a[href^="tel:"]:hover, body .footer-container #footer #block_contact_infos li a[href^="callto:"]:hover {
    color: #a4786f; }
  body .footer-container #footer #social_block ul li a:hover {
    color: #a4786f; }
  body .btn-default:before {
    background: #a4786f; }
  body .btn-default:active:focus, body .btn-default.disabled, body .btn-default.btn[disabled] {
    background: #ae877f; }
  body .btn-primary {
    background: #a4786f;
    -moz-box-shadow: inset 0 0 0 2px #a4786f;
    -webkit-box-shadow: inset 0 0 0 2px #a4786f;
    box-shadow: inset 0 0 0 2px #a4786f; }
    body .btn-primary:hover {
      color: #a4786f;
      -moz-box-shadow: inset 0 0 0 2px #a4786f;
      -webkit-box-shadow: inset 0 0 0 2px #a4786f;
      box-shadow: inset 0 0 0 2px #a4786f; }
    body .btn-primary:active:focus, body .btn-primary:active, body .btn-primary:focus, body .btn-primary.disabled, body .btn-primary.btn[disabled] {
      background: #ae877f; }
  body .link:hover {
    color: #a4786f; }
  body .fancybox-wrap .fancybox-skin .fancybox-close:hover {
    color: #a4786f; }
  body div.selector.hover span:after, body div.selector.focus span:after {
    color: #a4786f; }
  body .form-control:active, body .form-control:focus {
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 8px rgba(164, 120, 111, 0.2);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 8px rgba(164, 120, 111, 0.2);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 8px rgba(164, 120, 111, 0.2); }
  body div.checker span:before {
    color: #a4786f; }
  body .label.label-warning, body .label-success.label-warning, body .label-danger.label-warning, body .label-warning.label-warning {
    background: #a4786f; }
  body .sale-label {
    background: #a4786f; }
  body #habla_window_div #habla_topbar_div {
    background: #a4786f !important; }
  body .block .title_block a:hover,
  body .block h4 a:hover {
    color: #a4786f; }
  body .block .products-block li .products-block-image:hover {
    background: rgba(164, 120, 111, 0.2); }
  body .breadcrumb ul li a:hover {
    color: #a4786f; }
  body .back-to-search a:hover {
    color: #a4786f; }
  body .content_sortPagiBar .display li.selected a,
  body .content_sortPagiBar .display_m li.selected a {
    color: #a4786f; }
  body .bottom-pagination-content ul.pagination li.active > span {
    background: #a4786f; }
  body .bottom-pagination-content .showall button {
    color: #a4786f; }
  body ul.step li.step_current {
    background: #a4786f; }
    body ul.step li.step_current span {
      text-shadow: 1px 1px #4b342f; }
      @media (min-width: 992px) {
        body ul.step li.step_current span:after {
          background: #a4786f; } }
  body table#cart_summary .gift-icon {
    background: #a4786f; }
  body #manufacturers_list h3 a:hover,
  body #suppliers_list h3 a:hover {
    color: #a4786f; }
  body #crossselling_list .bx-wrapper .bx-controls-direction a:hover:before,
  body .accessories-block .block_content .bx-wrapper .bx-controls-direction a:hover:before,
  body #productscategory_list .bx-wrapper .bx-controls-direction a:hover:before,
  body #blockcart_list .bx-wrapper .bx-controls-direction a:hover:before,
  body .related-block .bx-wrapper .bx-controls-direction a:hover:before {
    color: #a4786f; }
  body ul.product_list > .layered-preloader span:before, body ul.product_list > .layered-preloader span:after {
    border: 5px solid #a4786f;
    box-shadow: 0 0 49px #a4786f, inset 0 0 49px #a4786f;
    -o-box-shadow: 0 0 49px #a4786f, inset 0 0 49px #a4786f;
    -ms-box-shadow: 0 0 49px #a4786f, inset 0 0 49px #a4786f;
    -webkit-box-shadow: 0 0 49px #a4786f, inset 0 0 49px #a4786f;
    -moz-box-shadow: 0 0 49px #a4786f, inset 0 0 49px #a4786f; }
  body ul.product_list.grid > li .product-container .functional-buttons .ajax_add_to_cart_button, body ul.product_list.grid > li .product-container .functional-buttons .customization {
    color: #a4786f; }
  body ul.product_list.list > li h5 .product-name:hover {
    color: #a4786f; }
  @media (min-width: 480px) {
    body ul.product_list.list > li .functional-buttons .cart-btn .btn:hover {
      color: #a4786f; } }
  body #sitemap .sitemap_block ul.tree > li > a:hover {
    color: #a4786f; }
  body #sitemap .sitemap_block .page-subheading a:hover, body #sitemap .sitemap_block ul.tree > li > a a:hover {
    color: #a4786f; }
  body #sitemap .sitemap_block ul.tree > li .accordion_content > li > a:hover {
    color: #a4786f; }
  body #productscategory_list ul li.product-box .functional-buttons > div a,
  body #crossselling_list ul li.product-box .functional-buttons > div a,
  body .related-block ul li.product-box .functional-buttons > div a,
  body .accessories-block ul li.product-box .functional-buttons > div a {
    color: #a4786f; }
  body #productscategory_list ul li.product-box .functional-buttons > div .ajax_add_to_cart_button,
  body #crossselling_list ul li.product-box .functional-buttons > div .ajax_add_to_cart_button,
  body .related-block ul li.product-box .functional-buttons > div .ajax_add_to_cart_button,
  body .accessories-block ul li.product-box .functional-buttons > div .ajax_add_to_cart_button {
    color: #a4786f; }
  body .pb-left-column #prev-img:hover:before, body .pb-left-column #next-img:hover:before {
    color: #a4786f; }
  body #view_scroll_left:hover,
  body #view_scroll_right:hover {
    color: #a4786f; }
  body .pb-right-column .product-info-line > p span.editable {
    color: #a4786f; }
  body .box-info-product .product-lookbooks a {
    color: #a4786f; }
  body #quantity_wanted_p .product_quantity_up:hover, body #quantity_wanted_p .product_quantity_down:hover {
    color: #a4786f; }
  body #send_friend_form .product p.product_name {
    color: #a4786f; }
  body .product-information .product-info-tabs > li a:before {
    border-bottom: 2px solid #868686; }
  body .product-information .tab-content h4 a:hover {
    color: #a4786f; }
  body .product-information .tab-content h3:before {
    border-bottom: 2px solid #868686; }
  body .shopping_cart > a:first-child:hover:before, body .shopping_cart > a:first-child:focus:before, body .shopping_cart > a:first-child.active:before {
    color: #a4786f; }
  body .cart_block .cart_block_list dl a:hover {
    color: #a4786f; }
  body .cart_block .cart_block_list .remove_link a:hover,
  body .cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
    color: #a4786f; }
  body .cart_block dt .product-name a:hover {
    color: #a4786f; }
  body #layer_cart .layer_cart_product .title i {
    color: #a4786f; }
  body #layer_cart .layer_cart_product .layer_cart_product_info > div strong {
    color: #a4786f; }
  body #layer_cart .layer_cart_cart .title i {
    color: #a4786f; }
  body #layer_cart .layer_cart_cart .title .ajax_cart_quantity {
    color: #a4786f; }
  body #layer_cart .layer_cart_cart .layer_cart_row strong {
    color: #a4786f; }
  body #currencies-block-top ul li.selected, body #currencies-block-top ul li.selected a, body #currencies-block-top ul li a:hover, body #currencies-block-top ul li a:focus {
    color: #a4786f; }
  body #languages-block-top ul li.selected, body #languages-block-top ul li.selected a, body #languages-block-top ul li a:hover, body #languages-block-top ul li a:focus {
    color: #a4786f; }
  body #layered_block_left #layered_form #enabled_filters ul li {
    background: #a4786f; }
  body #layered_block_left #layered_form ul li.layered_list.layered_list_selected, body #layered_block_left #layered_form ul li.layered_list:hover {
    color: #a4786f; }
  body #layered_block_left #layered_form ul li a:hover {
    color: #a4786f; }
  body #layered_block_left #layered_form ul .layered_slider_container .ui-widget-content .ui-widget-header {
    background: #a4786f; }
  body #layered_block_left #layered_form ul .layered_slider_container .ui-widget-content .ui-state-default {
    background: #a4786f; }
  @media (max-width: 767px) {
    body #layered_block_left .filter-close:hover {
      color: #a4786f; } }
  body #footer #newsletter_block_left .form-group .btn:hover {
    background: #a4786f; }
  body #wishlist_button:hover, body #wishlist_button_nopop:hover {
    color: #a4786f; }
  body .wishlist-link a:hover:before {
    color: #a4786f; }
  @media (max-width: 479px) {
    body div:not(.bx-viewport) > #homefeatured > li .product-container .right-block .functional-buttons > div a:hover {
      color: #a4786f; }
    body div:not(.bx-viewport) > #homefeatured > li .product-container .right-block .functional-buttons .ajax_add_to_cart_button {
      color: #a4786f; } }
  body #homepage-slider .bx-wrapper .bx-controls-direction a:hover:before {
    color: #a4786f; }
  body .comments_advices a {
    color: #a4786f; }
  body #new_comment_form .product_name strong {
    color: #a4786f; }
  body #product_comments_block_tab span.report_btn:hover {
    color: #a4786f; }
  body a.read-more {
    color: #a4786f; }
  body #respond h4 small a {
    color: #a4786f; }
  body .commentList .comment-reply-link {
    color: #a4786f; }
  body #homepage-blog .title_block a:hover {
    color: #a4786f; }
  body #homepage-blog .link {
    color: #a4786f; }
  body #homepage-blog .block_content h5 a:hover {
    color: #a4786f; }
  body .btn.btn-facebook:hover,
  body .btn.btn-twitter:hover,
  body .btn.btn-google-plus:hover,
  body .btn.btn-pinterest:hover {
    color: #a4786f; }
  body #htmlcontent_top > ul > li .item-html h2 {
    color: #a4786f; }
  body .category-block h4:before {
    border-bottom: 2px solid #868686; }
  body .category-block .bx-wrapper .bx-controls-direction a:hover {
    color: #a4786f; }
  body #header-login div.current a:hover:before {
    color: #a4786f; }
  body #header-login div.current.active a:before {
    color: #a4786f; }
  body .header-login-content li ul li a:hover {
    color: #a4786f; }
  body .header-login-content li input[type="checkbox"] + label:hover, body .header-login-content li input[type="checkbox"] + .label label:hover, body .header-login-content li input[type="radio"] + label:hover, body .header-login-content li input[type="radio"] + .label label:hover {
    color: #a4786f; }
  body .tmha-close-btn:hover {
    color: #a4786f; }
  body .hotSpotWrap .point:after {
    background: #a4786f; }
  body .hotSpotWrap .popover .popover-content .product-container .right-block .product_link {
    color: #a4786f; }
  body .tm-lookbook-block ul.tm-lookbook-slider .product_list .product-container .functional-buttons > div a:hover {
    color: #a4786f; }
  body .tm-lookbook-block ul.tm-lookbook-slider .product_list .product-container .functional-buttons .ajax_add_to_cart_button {
    color: #a4786f; }
  body .tm-lookbook-block .bx-wrapper .slide-controls a:hover:before {
    color: #a4786f; }
  body #tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction a:hover {
    color: #a4786f; }
  body .top-parallax .text-layout h2 {
    color: #a4786f; }
  body .background-video .text-layout .btn.btn-default {
    color: #a4786f; }
  body #header .nav-section.dark-background #languages-block-top div.current:after, body #header .nav-section.dark-background #currencies-block-top div.current:after {
    color: #a4786f; }
  body #header .nav-section.dark-background #languages-block-top div.current:hover, body #header .nav-section.dark-background #currencies-block-top div.current:hover {
    color: #a4786f; }
  body #header .nav-section.dark-background ul#header_links li a:hover, body #header .nav-section.dark-background ul#header_links li a.active {
    color: #a4786f; }
  body .featured-product-carousel ul.product_list.grid > li .product-container .product-name:hover {
    color: #a4786f; }
  body .featured-product-carousel .bx-wrapper .bx-controls-direction a:hover {
    color: #a4786f; }
  body .footer-container #footer .dark-background #block_contact_infos a[href^="mailto:"] {
    color: #a4786f; }
  body .footer-container #footer .dark-background #social_block ul li a:hover:before {
    color: #a4786f; }
  body .footer-container #footer .dark-background h4 a:hover {
    color: #a4786f; }
  @media (min-width: 768px) {
    body .productscategory-type-2 #productscategory_list li .product > div .right-block .product-name a:hover {
      color: #a4786f; } }
  body .crossselling-type-2 h5 a:hover {
    color: #a4786f; }
  body .top_menu > ul > li:hover > span.menu-mobile-grover:before, body .top_menu .stickUpHolder > ul > li:hover > span.menu-mobile-grover:before {
    color: #a4786f; }
  body .top_menu li li a:hover, body .top_menu .stickUpHolder li li a:hover {
    color: #a4786f; }
  body .top_menu li li.sfHover > a, body .top_menu li li.sfHoverForce > a, body .top_menu .stickUpHolder li li.sfHover > a, body .top_menu .stickUpHolder li li.sfHoverForce > a {
    color: #a4786f; }
  body .top_menu .menu-title:hover, body .top_menu .menu-title.active, body .top_menu .stickUpHolder .menu-title:hover, body .top_menu .stickUpHolder .menu-title.active {
    color: #a4786f; }
  body .top_menu .menu-mobile-grover:hover, body .top_menu .stickUpHolder .menu-mobile-grover:hover {
    color: #a4786f; }
  body .block-container-row .product-container .product-name:hover {
    color: #a4786f; }
  @media (min-width: 1200px) {
    body .block-container-row .tmmp_row_1_1_2 > li:nth-child(2) .product-container {
      background: #bfbfbf; } }
  body .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content .email-error .form-control {
    -moz-box-shadow: inset 0 0 3px #f13340, 0 0 8px rgba(164, 120, 111, 0.2);
    -webkit-box-shadow: inset 0 0 3px #f13340, 0 0 8px rgba(164, 120, 111, 0.2);
    box-shadow: inset 0 0 3px #f13340, 0 0 8px rgba(164, 120, 111, 0.2); }
  body .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content .email-valid .form-control {
    -moz-box-shadow: inset 0 0 3px #00b06c, 0 0 8px rgba(164, 120, 111, 0.2);
    -webkit-box-shadow: inset 0 0 3px #00b06c, 0 0 8px rgba(164, 120, 111, 0.2);
    box-shadow: inset 0 0 3px #00b06c, 0 0 8px rgba(164, 120, 111, 0.2); }
  body .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content button.close:hover {
    color: #a4786f; }
  body .newsletter-overlay #newsletter_popup .icon.tmnewsletter-close:hover {
    color: #a4786f; }
  body #tmsearch #tmsearchbox .button-search:hover {
    color: #a4786f; }
  body #tmsearch #tmsearchbox .search-close:hover {
    color: #a4786f; }
  body #tmsearch #search-toggle:hover {
    color: #a4786f; }
  body .instagram-widget ul.instagram_items > li a.instagram_link:before {
    background: #a4786f; }
  body .ui-to-top:hover {
    color: #a4786f; }
  body .ui-to-top.active:hover {
    color: #a4786f; }
