.blog-image {
  margin-bottom: 15px; }
  .blog-image a {
    display: block; }
    @media only screen and (max-width: 767px) {
      .blog-image a img {
        width: 100%; } }

#homepage-blog {
  margin-top: 50px;
  margin-bottom: 0; }
  @media (min-width: 1200px) {
    #homepage-blog {
      margin-top: 112px; } }
  #homepage-blog .title_block {
    margin-bottom: 17px;
    padding-right: 0; }
    #homepage-blog .title_block:after {
      display: none; }
    #homepage-blog .title_block a:hover {
      color: #ea917d; }
  #homepage-blog .blog-descr {
    text-align: center;
    color: #9d9d9d; }
  #homepage-blog .blog-image {
    display: none; }
  #homepage-blog .date-added {
    font-size: 13px;
    color: #a1a1a1;
    margin-bottom: 5px; }
    #homepage-blog .date-added .day-added {
      display: block;
      font-family: "Exo 2", sans-serif;
      font-size: 70px;
      font-weight: 300;
      color: #2f2c2f;
      line-height: 1.02; }
    @media (min-width: 768px) {
      #homepage-blog .date-added {
        margin-bottom: 20px;
        padding-left: 3px; }
        #homepage-blog .date-added .day-added {
          margin-left: -3px; } }
    @media (min-width: 1200px) {
      #homepage-blog .date-added {
        margin-bottom: 33px; } }
  #homepage-blog .post-descr {
    margin-left: 3px; }
  #homepage-blog .link {
    color: #ea917d;
    margin-left: 3px;
    margin-top: 5px; }
    @media (min-width: 768px) {
      #homepage-blog .link {
        margin-top: 15px; } }
    @media (min-width: 1360px) {
      #homepage-blog .link {
        margin-top: 29px; } }
    #homepage-blog .link:hover {
      color: #2f2c2f; }
  #homepage-blog .block_content {
    margin-top: 10px; }
    @media (min-width: 768px) {
      #homepage-blog .block_content {
        margin-top: 30px; } }
    @media (min-width: 1200px) {
      #homepage-blog .block_content {
        margin-top: 68px; } }
    #homepage-blog .block_content h5 {
      position: relative;
      font: 400 20px/32px "Exo 2", sans-serif;
      text-transform: uppercase;
      margin: 0 0 15px;
      padding-bottom: 7px;
      font-size: 20px;
      line-height: 1.2; }
      @media (min-width: 768px) {
        #homepage-blog .block_content h5 {
          font-size: 16px;
          margin: 0 0 23px 3px;
          padding-bottom: 19px; } }
      @media (min-width: 992px) {
        #homepage-blog .block_content h5 {
          font-size: 18px; } }
      @media (min-width: 1650px) {
        #homepage-blog .block_content h5 {
          font-size: 20px;
          line-height: 1.6; } }
      #homepage-blog .block_content h5:before {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        width: 100px;
        border-bottom: 2px solid #eae6da; }
        @media (max-width: 767px) {
          #homepage-blog .block_content h5:before {
            left: 50%;
            margin-left: -50px; } }
      #homepage-blog .block_content h5 a {
        color: #2f2c2f; }
        #homepage-blog .block_content h5 a:hover {
          color: #ea917d; }
    @media (min-width: 768px) {
      #homepage-blog .block_content > ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex; } }
    #homepage-blog .block_content > ul > li {
      position: relative;
      padding-top: 20px;
      padding-bottom: 25px; }
      @media (max-width: 767px) {
        #homepage-blog .block_content > ul > li {
          text-align: center; } }
      @media (min-width: 768px) {
        #homepage-blog .block_content > ul > li:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          border-right: 2px solid #f4f2ec; } }
      @media (min-width: 992px) {
        #homepage-blog .block_content > ul > li {
          padding-right: 5%; }
          #homepage-blog .block_content > ul > li:before {
            right: 7%; } }
      @media (min-width: 1200px) {
        #homepage-blog .block_content > ul > li {
          padding-top: 36px;
          padding-bottom: 42px; } }
      @media (min-width: 1650px) {
        #homepage-blog .block_content > ul > li {
          padding-right: 7%; }
          #homepage-blog .block_content > ul > li:before {
            right: 11.5%; } }
      #homepage-blog .block_content > ul > li:last-child:before {
        display: none; }
  @media (min-width: 992px) {
    #homepage-blog li.first-in-line {
      clear: left; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #homepage-blog li.first-item-of-tablet-line {
      clear: left; } }
  @media only screen and (max-width: 767px) {
    #homepage-blog li.first-item-of-mobile-line {
      clear: left; } }
