@import "../../../_theme_variables";

#tmhtmlcontent_topColumn {
  margin-top: 30px;
  @media (min-width: $screen-sm-min) {
    margin-top: 50px;
  }
  @media (min-width: $screen-lg-min) {
    margin-top: 116px;
  }
  > ul {
    margin-top: 0;
    margin-bottom: 0;
    @media (min-width: $screen-xs-min) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
    }
    @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
      flex-wrap: wrap;
    }
    > li {
      position: relative;
      padding-left: 15px;
      padding-right: 15px;
      @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
        &:first-child {
          order: 2;
          width: 50%;
        }
        &:nth-child(2) {
          order: 1;
          width: 100%;
          margin-bottom: 30px;
        }
        &:nth-child(3) {
          order: 3;
          width: 50%;
        }
      }
      .item-link {
        display: block;
        overflow: hidden;
        img {
          @include scale(1);
          @include transition(0.6s all ease);
          will-change: transform;
        }
        &:hover {
          img {
            @include scale(1.05);
          }
        }
      }
      .item-html {
        padding: 30px;
        color: $dark-text-color;
        max-width: 310px;
        @media (min-width: 1360px) {
          padding: 50px;
        }
        @media (min-width: 1650px), (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
          padding: 67px 66px;
        }
        h3 {
          font-size: 14px;
          line-height: 1.2;
          font-weight: 700;
          letter-spacing: 0.38em;
          margin: 0;
          @media (min-width: 1360px), (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            font-size: 16px;
          }
        }
        h2 {
          font-family: $font-custom;
          font-size: 20px;
          line-height: 1.2;
          font-weight: 300;
          margin: 0;
          @media (min-width: $screen-lg-min), (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            font-size: 26px;
          }
        }
        * + h2 {
          margin-top: 12px;
        }
        * + .link {
          margin-top: 20px;
          @media (min-width: $screen-lg-min), (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            margin-top: 38px;
          }
        }
      }
      img {
        width: 100%;
        height: auto;
      }
      img + .item-html {
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px;
      }
      &.center-block {
        margin-left: 0;
        margin-right: 0;
        .item-html {
          top: 50%;
          @include translate(0, -50%);
        }
      }
    }
    .text-white {
      .item-html {
        color: $light-text-color;
        .link {
          &:hover {
            color: $dark-text-color;
          }
        }
      }
    }
  }
}

#tmhtmlcontent_footer {
  margin-top: 7px;
  margin-bottom: 36px;
  .logo {
    display: inline-block;
  }
}
